body {
    font-family: Arial, sans-serif;
    background-color: rgb(160, 218, 146); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
header {
    background-color: #37414b;
    color: rgb(220, 119, 35);
    padding: 20px;
    text-align: center;
}

.container {
    background: rgb(75, 199, 230);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

h2 {
    color: #333;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}

button {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background: #218838;
}

p {
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
}

#resultado {
    color: black;
}
